{
  "x-generator": "NSwag v13.13.2.0 (NJsonSchema v10.5.2.0 (Newtonsoft.Json v9.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "TzKT API",
    "description": "# Introduction\n\nTzKT Explorer provides free REST API and WebSocket API for accessing detailed Tezos blockchain data and helps developers build more services and applications on top of Tezos.\nTzKT is an open-source project, so you can easily clone and build it and use it as a self-hosted service to avoid any risks of depending on third-party services.\n\nTzKT API is available for the following Tezos networks with the following base URLs:\n\n- Mainnet: `https://api.tzkt.io/` or `https://api.mainnet.tzkt.io/` ([view docs](https://api.tzkt.io)) \n- Hangzhounet: `https://api.hangzhounet.tzkt.io/` ([view docs](https://api.hangzhounet.tzkt.io))\n- Ithacanet: `https://api.ithacanet.tzkt.io/` ([view docs](https://api.ithacanet.tzkt.io))\n\nWe also provide a staging environment for testing newest features and pre-updating client applications before deploying to production:\n\n- Mainnet staging: `https://staging.api.tzkt.io/` or `https://staging.api.mainnet.tzkt.io/` ([view docs](https://staging.api.tzkt.io))\n\nFeel free to contact us if you have any questions or feature requests.\nYour feedback really helps us make TzKT better!\n\n- Discord: https://discord.gg/aG8XKuwsQd\n- Telegram: https://t.me/baking_bad_chat\n- Slack: https://tezos-dev.slack.com/archives/CV5NX7F2L\n- Twitter: https://twitter.com/TezosBakingBad\n- Email: hello@baking-bad.org\n\nAnd don't forget to star TzKT project [on GitHub](https://github.com/baking-bad/tzkt) ;)\n\n# Terms of Use\n\nTzKT API is free for everyone and for both commercial and non-commercial usage.\n\nIf your application or service uses the TzKT API in any forms: directly on frontend or indirectly on backend,\nyou must mention that fact on your website or application by placing the label\n**\"Powered by TzKT API\"** or **\"Built with TzKT API\"** with a direct link to [tzkt.io](https://tzkt.io).\n\n\n# Rate Limits\n\nThere will be no rate limits as long as our servers can handle the load without additional infrastructure costs.\nHowever, any apparent abuse will be prevented by setting targeted rate limits.\n\nCheck out [Tezos Explorer API Best Practices](https://baking-bad.org/blog/tag/TzKT/)\nand in particular [how to optimize requests count](https://baking-bad.org/blog/2020/07/29/tezos-explorer-api-tzkt-how-often-to-make-requests/).\n\n---\n",
    "contact": {
      "name": "Baking Bad Team",
      "url": "https://baking-bad.org/docs",
      "email": "hello@baking-bad.org"
    },
    "version": "v1.8.0",
    "x-logo": {
      "url": "https://tzkt.io/logo.png",
      "href": "https://tzkt.io/"
    }
  },
  "servers": [
    {
      "url": "https://api.tzkt.io"
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts",
        "description": "Returns a list of accounts.",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filters accounts by type (`user`, `delegate`, `contract`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters accounts by contract kind (`delegator_contract` or `smart_contract`)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ContractKindParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "delegator_contract,smart_contract"
          },
          {
            "name": "delegate",
            "in": "query",
            "description": "Filters accounts by delegate. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters accounts by balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "staked",
            "in": "query",
            "description": "Filters accounts by participation in staking",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BoolParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "lastActivity",
            "in": "query",
            "description": "Filters accounts by last activity level (where the account was updated)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `firstActivity`, `lastActivity`, `numTransactions`, `numContracts`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/count": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts count",
        "description": "Returns a number of accounts.",
        "operationId": "Accounts_GetCount",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filters accounts by type (`user`, `delegate`, `contract`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filters accounts by contract kind (`delegator_contract` or `smart_contract`)",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ContractKindParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "delegator_contract,smart_contract"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters accounts by balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "staked",
            "in": "query",
            "description": "Filters accounts by participation in staking",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BoolParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account by address",
        "description": "Returns an account with the specified address.",
        "operationId": "Accounts_GetByAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Include or not account metadata",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/contracts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account contracts",
        "description": "Returns a list of contracts created by (or related to) the specified account.",
        "operationId": "Accounts_GetContracts",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts contracts by specified field. Supported fields: `id` (default, desc), `balance`, `creationLevel`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelatedContract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/delegators": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account delegators",
        "description": "Returns a list of accounts delegated to the specified account.",
        "operationId": "Accounts_GetDelegators",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters delegators by type (`user`, `delegate`, `contract`, `ghost`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountTypeParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "user,contract,delegate"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters delegators by balance.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "delegationLevel",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `delegationLevel` (default, desc), `balance`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Delegator"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/operations": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account operations",
        "description": "Returns a list of operations related to the specified account.\nNote: for better flexibility this endpoint accumulates query parameters (filters) of each `/operations/{type}` endpoint,\nso a particular filter may affect several operation types containing this filter.\nFor example, if you specify an `initiator` it will affect all transactions, delegations and originations,\nbecause all these types have an `initiator` field.",
        "operationId": "Accounts_GetOperations",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma separated list of operation types to return (`endorsement`, `preendorsement`, `ballot`, `proposal`, `activation`, `double_baking`, `double_endorsing`, `double_preendorsing`, `nonce_revelation`, `delegation`, `origination`, `transaction`, `reveal`, `register_constant`, `set_deposits_limit`, `migration`, `revelation_penalty`, `baking`, `endorsing_reward`). If not specified then the default set will be returned.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "initiator",
            "in": "query",
            "description": "Filters transactions, delegations and originations by initiator. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Filters transactions, delegations, originations, reveals and seed nonce revelations by sender. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "target",
            "in": "query",
            "description": "Filters transactions by target. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "prevDelegate",
            "in": "query",
            "description": "Filters delegations by prev delegate. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "newDelegate",
            "in": "query",
            "description": "Filters delegations by new delegate. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "contractManager",
            "in": "query",
            "description": "Filters origination operations by manager. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "contractDelegate",
            "in": "query",
            "description": "Filters origination operations by delegate. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "originatedContract",
            "in": "query",
            "description": "Filters origination operations by originated contract. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "accuser",
            "in": "query",
            "description": "Filters double baking and double endorsing by accuser. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 11,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offender",
            "in": "query",
            "description": "Filters double baking and double endorsing by offender. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 12,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "baker",
            "in": "query",
            "description": "Filters seed nonce revelation operations by baker. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 13,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters operations by level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 14,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters operations by timestamp.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DateTimeParameter"
                }
              ]
            },
            "x-position": 15,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "entrypoint",
            "in": "query",
            "description": "Filters transactions by entrypoint called on the target contract.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 16,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "parameter",
            "in": "query",
            "description": "Filters transactions by parameter value. Note, this query parameter supports the following format: `?parameter{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?parameter.token_id=...` or `?parameter.sigs.0.ne=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 17,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "hasInternals",
            "in": "query",
            "description": "Filters transactions by presence of internal operations.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BoolParameter"
                }
              ]
            },
            "x-position": 18,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters transactions, delegations, originations and reveals by operation status (`applied`, `failed`, `backtracked`, `skipped`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OperationStatusParameter"
                }
              ]
            },
            "x-position": 19,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "applied,failed,backtracked,skipped"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort mode (0 - ascending, 1 - descending), operations of different types can only be sorted by ID.",
            "schema": {
              "default": "Descending",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortMode"
                }
              ]
            },
            "x-position": 20
          },
          {
            "name": "lastId",
            "in": "query",
            "description": "Id of the last operation received, which is used as an offset for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 21
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 1000.0,
              "minimum": 0.0
            },
            "x-position": 22
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 23
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 24
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Operation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/metadata": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account metadata",
        "description": "Returns metadata of the specified account (alias, logo, website, contacts, etc).",
        "operationId": "Accounts_GetMetadata",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/counter": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get counter",
        "description": "Returns account counter",
        "operationId": "Accounts_GetCounter",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance",
        "description": "Returns account balance",
        "operationId": "Accounts_GetBalance",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history/{level}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance at level",
        "description": "Returns account balance at the specified block",
        "operationId": "Accounts_GetBalanceAtLevel",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Block height at which you want to know account balance",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history/{datetime}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance at date",
        "description": "Returns account balance at the specified datetime",
        "operationId": "Accounts_GetBalanceAtDate",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "datetime",
            "in": "path",
            "required": true,
            "description": "Datetime at which you want to know account balance (e.g. `2020-01-01`, or `2019-12-30T23:42:59Z`)",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance_history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get balance history",
        "description": "Returns time series with historical balances (only changes, without duplicates).",
        "operationId": "Accounts_GetBalanceHistory",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "step",
            "in": "query",
            "description": "Step of the time series, for example if `step = 1000` you will get balances at blocks `1000, 2000, 3000, ...`.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts historical balances by specified field. Supported fields: `level`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 5
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 6
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoricalBalance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/report": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account report",
        "description": "Exports account balance report in .csv format",
        "operationId": "Accounts_GetBalanceReport",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address (starting with tz or KT)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start of the datetime range to filter by (ISO 8601, e.g. 2019-11-31)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the datetime range to filter by (ISO 8601, e.g. 2019-12-31)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency to convert amounts to (`btc`, `eur`, `usd`, `cny`, `jpy`, `krw`, `eth`, `gbp`)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "historical",
            "in": "query",
            "description": "`true` if you want to use historical prices, `false` to use current price",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          },
          {
            "name": "delimiter",
            "in": "query",
            "description": "Column delimiter (`comma`, `semicolon`)",
            "schema": {
              "type": "string",
              "default": "comma",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "separator",
            "in": "query",
            "description": "Decimal separator (`comma`, `point`)",
            "schema": {
              "type": "string",
              "default": "point",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/count": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmaps count",
        "description": "Returns the total number of bigmaps.",
        "operationId": "BigMaps_GetBigMapsCount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmaps",
        "description": "Returns a list of bigmaps.",
        "operationId": "BigMaps_GetBigMaps",
        "parameters": [
          {
            "name": "contract",
            "in": "query",
            "description": "Filters bigmaps by smart contract address.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filters bigmaps by path in the contract storage.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filters bigmaps by tags: `metadata`, `token_metadata`, `ledger`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapTagsParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "metadata,token_metadata,ledger"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters bigmaps by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters bigmaps by the last update level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMap"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/updates": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap updates",
        "description": "Returns a list of all bigmap updates.",
        "operationId": "BigMaps_GetBigMapUpdates",
        "parameters": [
          {
            "name": "bigmap",
            "in": "query",
            "description": "Filters updates by bigmap ptr",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filters updates by bigmap path",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filters updates by bigmap contract",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filters updates by bigmap tags: `metadata`, `token_metadata`, `ledger`",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapTagsParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "metadata,token_metadata,ledger"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filters updates by action",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BigMapActionParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter",
            "x-tzkt-query-parameter": "allocate,add_key,update_key,remove_key,remove"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters updates by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters updates by level",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters updates by timestamp.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmaps by specified field. Supported fields: `id` (default), `ptr`, `firstLevel`, `lastLevel`, `totalKeys`, `activeKeys`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 11
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapUpdate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap by Id",
        "description": "Returns a bigmap with the specified Id.",
        "operationId": "BigMaps_GetBigMapById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value type: `0` - JSON, `2` - Micheline",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMap"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/type": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap type",
        "description": "Returns a type of the bigmap with the specified Id in Micheline format (with annotations).",
        "operationId": "BigMaps_GetBigMapType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MichelinePrim"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap keys",
        "description": "Returns a list of bigmap keys.",
        "operationId": "BigMaps_GetKeys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters keys by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "lastLevel",
            "in": "query",
            "description": "Filters bigmap keys by the last update level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap keys by specified field. Supported fields: `id` (default), `firstLevel`, `lastLevel`, `updates`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys/{key}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap key",
        "description": "Returns the specified bigmap key.",
        "operationId": "BigMaps_GetKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`abcde...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMapKey"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/keys/{key}/updates": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get bigmap key updates",
        "description": "Returns updates history for the specified bigmap key.",
        "operationId": "BigMaps_GetKeyUpdates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`abcde...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap updates by specified field. Supported fields: `id` (default).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 5
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the key value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKeyUpdate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/historical_keys/{level}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get historical keys",
        "description": "Returns a list of bigmap keys at the specific block.",
        "operationId": "BigMaps_GetHistoricalKeys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level of the block at which you want to get bigmap keys",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters keys by status: `true` - active, `false` - removed.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "key",
            "in": "query",
            "description": "Filters keys by JSON key. Note, this query parameter supports the following format: `?key{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?key.token_id=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filters keys by JSON value. Note, this query parameter supports the following format: `?value{.path?}{.mode?}=...`,\n            so you can specify a path to a particular field to filter by, for example: `?value.balance.gt=...`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "json-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts bigmap keys by specified field. Supported fields: `id` (default).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 9
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 10
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BigMapKeyHistorical"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bigmaps/{id}/historical_keys/{level}/{key}": {
      "get": {
        "tags": [
          "BigMaps"
        ],
        "summary": "Get historical key",
        "description": "Returns the specified bigmap key at the specific block.",
        "operationId": "BigMaps_GetKey2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bigmap Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Level of the block at which you want to get bigmap key",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Either a key hash (`expr123...`) or a plain value (`abcde...`).\n            Even if the key is complex (an object or an array), you can specify it as is, for example, `/keys/{\"address\":\"tz123\",\"nat\":\"123\"}`.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the bigmap key and value: `0` - JSON, `1` - JSON string, `2` - Micheline, `3` - Micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigMapKeyHistorical"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/count": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get blocks count",
        "description": "Returns the total number of blocks.",
        "operationId": "Blocks_GetCount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get blocks",
        "description": "Returns a list of blocks.",
        "operationId": "Blocks_Get",
        "parameters": [
          {
            "name": "baker",
            "in": "query",
            "description": "[DEPRECATED]",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "anyof",
            "in": "query",
            "description": "Filters by any of the specified fields. Example: `anyof.proposer.producer=tz1...`.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2,
            "x-tzkt-extension": "anyof-parameter",
            "x-tzkt-anyof-parameter": "proposer,producer"
          },
          {
            "name": "proposer",
            "in": "query",
            "description": "Filters blocks by block proposer. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "producer",
            "in": "query",
            "description": "Filters blocks by block producer. Allowed fields for `.eqx` mode: none.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filters blocks by level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Filters blocks by timestamp.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DateTimeParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "priority",
            "in": "query",
            "description": "[DEPRECATED]",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "blockRound",
            "in": "query",
            "description": "Filters blocks by block round.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts blocks by specified field. Supported fields: `id` (default), `level`, `payloadRound`, `blockRound`, `validations`, `reward`, `bonus`, `fees`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 10,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 11,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 12
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 13
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{hash}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block by hash",
        "description": "Returns a block with the specified hash.",
        "operationId": "Blocks_GetByHash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Block hash",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "operations",
            "in": "query",
            "description": "Flag indicating whether to include block operations into returned object or not",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blocks/{level}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block by level",
        "description": "Returns a block at the specified level.",
        "operationId": "Blocks_GetByLevel",
        "parameters": [
          {
            "name": "level",
            "in": "path",
            "required": true,
            "description": "Block level",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "operations",
            "in": "query",
            "description": "Flag indicating whether to include block operations into returned object or not",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "micheline",
            "in": "query",
            "description": "Format of the parameters, storage and diffs: `0` - JSON, `1` - JSON string, `2` - raw micheline, `3` - raw micheline string",
            "schema": {
              "default": "Json",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MichelineFormat"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "quote",
            "in": "query",
            "description": "Comma-separated list of ticker symbols to inject historical prices into response",
            "schema": {
              "default": "None",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Symbols"
                }
              ]
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commitments/{address}": {
      "get": {
        "tags": [
          "Commitments"
        ],
        "summary": "Get commitment by blinded address",
        "description": "Returns a commitment with the specified blinded address.",
        "operationId": "Commitments_Get",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Blinded address (starting with btz)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commitment"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commitments": {
      "get": {
        "tags": [
          "Commitments"
        ],
        "summary": "Get commitments",
        "description": "Returns a list of commitments.",
        "operationId": "Commitments_GetAll",
        "parameters": [
          {
            "name": "activated",
            "in": "query",
            "description": "Filters commitments by activation status",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "activationLevel",
            "in": "query",
            "description": "Filters commitments by activation level",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32NullParameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters commitments by activated balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `id` (default), `balance`, `activationLevel`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Commitment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commitments/count": {
      "get": {
        "tags": [
          "Commitments"
        ],
        "summary": "Get commitments count",
        "description": "Returns a number of commitments.",
        "operationId": "Commitments_GetCount",
        "parameters": [
          {
            "name": "activated",
            "in": "query",
            "description": "Filters commitments by activation status",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Filters commitments by activated balance",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int64Parameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/v1/constants": {
      "get": {
        "tags": [
          "Constants"
        ],
        "summary": "Get global constants",
        "description": "Returns a list of global constants.",
        "operationId": "Constants_Get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Filters constants by global address (starts with `expr..`).",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ExpressionParameter"
                }
              ]
            },
            "x-position": 1,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "creationLevel",
            "in": "query",
            "description": "Filters constants by creation level.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 2,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "creationTime",
            "in": "query",
            "description": "Filters constants by creation time.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TimestampParameter"
                }
              ]
            },
            "x-position": 3,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "creator",
            "in": "query",
            "description": "Filters constants by creator.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AccountParameter"
                }
              ]
            },
            "x-position": 4,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "refs",
            "in": "query",
            "description": "Filters constants by number of refs.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 5,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Filters constants by size in bytes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Int32Parameter"
                }
              ]
            },
            "x-position": 6,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "select",
            "in": "query",
            "description": "Specify comma-separated list of fields to include into response or leave it undefined to return full object. If you select single field, response will be an array of values in both `.fields` and `.values` modes.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SelectParameter"
                }
              ]
            },
            "x-position": 7,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorts delegators by specified field. Supported fields: `id` (default), `creationLevel`, `size`, `refs`.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortParameter"
                }
              ]
            },
            "x-position": 8,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies which or how many items should be skipped",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OffsetParameter"
                }
              ]
            },
            "x-position": 9,
            "x-tzkt-extension": "query-parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 10000.0,
              "minimum": 0.0
            },
            "x-position": 10
          },
          {
            "name": "format",
            "in": "query",
            "description": "Constant value format (`0` - micheline, `1` - michelson, `2` - bytes (base64))",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 2.0,
              "minimum": 0.0
            },
            "x-position": 11
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Constant"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/constants/{address}": {
      "get": {
        "tags": [
          "Constants"
        ],
        "summary": "Get global constant by address",
        "description": "Returns global constant with specified address (expression hash).",
        "operationId": "Constants_GetByAddress",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Global address (starts with `expr..`)",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "format",
            "in": "query",
            "description": "Constant value format (`0` - micheline, `1` - michelson, `2` - bytes (base64))",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "maximum": 2.0,
              "minimum": 0.0
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Constant"
                }
              }
            }
          }
        }
      }
    },
    "/v1/constants/count": {
      "get": {
        "tags": [
          "Constants"
        ],
        "summary": "Get global constants count",
        "description": "Returns a number of global constants.",
        "operationId": "Constants_GetCount",
        "parameters": [
          {
            "name": "refs",
            "in": "query",
[...]
